.col-centered{
  margin: 0 auto 30px;
  padding: 30px 30px 30px 30px;
  color: white;
  top: 23vh;
  left: 2%;
  position: relative;
  width: 55vw;
  //height: 55vh;

  background-color: rgba(201, 201, 201, 0.78);
}
